@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --font-family-h1-h2: "Young serif";
  --font-family-h2-preparation-time-text: "Outfit";

  --color-background-body: hsl(30, 18%, 87%);
  --color-background-card: hsl(0, 0%, 100%);
  --color-text-bold: hsl(24, 5%, 18%);
  --color-text-light: hsl(30, 18%, 87%);
  --color-text: hsl(30, 10%, 34%);
  --color-title-section-preparation-time: hsl(332, 51%, 32%);
  --color-title-h2-td: hsl(14, 45%, 36%);
  --color-background-preparation-time: hsl(330, 100%, 98%);

  --font-weight-title-recipe: 700;
  --font-weight-h2: 400;
  --font-weight-text: 400;
  --font-weight-title-preparation-time: 600;
  --font-weight-first-word-values: 600;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: var(--font-family-h2-preparation-time-text);
}

html {
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-body);
}

.card {
  max-width: 740px;
  padding: 25px;
  border-radius: 1rem;
  background-color: var(--color-background-card);
}

.card img {
  width: 100%;
  border-radius: 1rem;
}

h1,
.ingredients h2,
.instructions h2,
.nutrition h2 {
  font-family: var(--font-family-h1-h2);
}

h1 {
  font-size: 2.5rem;
  margin: 1rem 0 1rem 0;
}

.card p {
  margin-bottom: 2rem;
}

.preparation h2 {
  color: var(--color-title-section-preparation-time);
  font-size: 1.3rem;
  font-weight: var(--font-weight-title-preparation-time);
  margin-bottom: 1rem;
}

.ingredients h2,
.instructions h2,
.nutrition h2 {
  font-size: 2rem;
  color: var(--color-title-h2-td);
  font-weight: var(--font-weight-h2);
  margin: 1rem 0 1rem 0;
}

.preparation {
  border-radius: 16px;
  background-color: var(--color-background-preparation-time);
  padding: 1.5rem;
}

.preparation li {
  margin-bottom: 0.5rem;
}

.preparation li:last-child {
  margin-bottom: 0;
}

.first-word {
  font-weight: var(--font-weight-first-word-values);
  color: var(--color-text);
}

.collapse {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.ingredients,
.instructions {
  border-bottom: 1px solid;
}

.preparation li,
.ingredients li,
.instructions li {
  list-style-position: inside;
}
.instructions ol {
  list-style: none;
  counter-reset: instructions;
}

.instructions li {
  counter-increment: instructions;
}

.instructions li::before {
  content: counter(instructions) ".";
}

.card p,
.preparation,
.ingredients,
.instructions,
.nutrition p,
th {
  color: var(--color-text);
}

.ingredients li,
.instructions li {
  margin: 1rem 0 1rem 0;
}

tr {
  border-bottom: 1px solid;
  border-color: var(--color-background-body);
}

tr:last-child {
  border-bottom: 0;
}

th {
  font-weight: var(--font-weight-text);
  position: relative;
  left: 35px;
}

td {
  font-weight: var(--font-weight-first-word-values);
  color: var(--color-title-h2-td);
  position: relative;
  left: -20px;
}

th,
td {
  padding-bottom: 1rem;
}

tbody tr:last-child th,
tbody tr:last-child td {
  padding-bottom: 0;
}

tbody tr:nth-child(n + 2) th,
tbody tr:nth-child(n + 2) td {
  padding-top: 1rem;
}

@media (max-width: 375px) {
  .card img {
    width: calc(100% + 50px);
    margin-left: -25px;
  }
}
